body{
    overflow: hidden;
}

.ant-row{
    margin-bottom:10px;
}

.contentArea{
    padding: 20px 300px;
}

@media only screen and (max-width: 400px) {
    .ant-col-offset-6{
        margin-left: 10px;
    }

    .ant-menu{
        font-size: 12px;
    }

    .ant-menu-item{
        padding: 0 5px;
    }
    
    .ant-col-11{
        width: 100%;
    }
    
    .ant-col-offset-2{
        margin-left: 0;
        margin-top: 10px;
    }
    
    .contentArea{
        padding: 20px;
    }
}

@media (min-width: 400px) and (max-width: 920px) {
    .contentArea{
        padding: 20px 20%;
    }
}